html {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
  width: 750px;
  position: relative;
}

img {
  height: 467px;
}

#wrapperImage.shifting {
  transition: left .7s;
}

#wrapperCarousel {
  display: flex;
  width: 700px;
  height: 467px;
  border: 5px solid forestgreen;
  overflow: hidden;
  position: relative;
  /*cursor: grab;*/
}

.wrapperImage {
  display: flex;
  position: relative;
}

.buttonLeft, .buttonRight {
  position: absolute;
  bottom: 50%;
  background-color: gainsboro;
  font-size: 45px;
  opacity: 0.4;
  outline: none;
  cursor: pointer;
}

.buttonLeft {
  left: -15px;
}

.buttonRight {
  right: -15px;
}

