html {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
  width: 1500px;
  height: 1500px;
}

img {
  height: 467px;
}

#wrapperImage.shifting {
  transition: left .3s;
}

#wrapperCarousel {
  display: flex;
  width: 700px;
  height: 467px;
  border: 5px solid forestgreen;
  overflow: hidden;
  position: relative;
  cursor: grab;
}

.wrapperImage {
  display: flex;
  position: relative;
}

.buttonLeft, .buttonRight {
  position: relative;
  width: 30px;
  height: 50px;
  top: 200px;
  background-color: gainsboro;
  font-size: 45px;
  opacity: 0.4;
  outline: none;
  cursor: pointer;
}

.buttonLeft {
  left: -777px;
}

.buttonRight {
  right: -7px;
}

